@charset "UTF-8";
/* Обнуление*/
/* Конец обнуления */
@font-face {
  font-family: "Russo One";
  src: url("../fonts/Russo_One/RussoOne-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

a:focus {
  outline: none;
}

a:active {
  outline: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

nav {
  display: block;
}

footer {
  display: block;
  background-color: lightgoldenrodyellow;
  color: goldenrod;
  min-height: 200px;
  margin-top: 30px;
  padding-bottom: 15px;
}

header {
  display: block;
  background-color: lightgoldenrodyellow;
  height: 140px;
}

aside {
  display: block;
}

html {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  font-family: inherit;
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

textarea {
  font-family: inherit;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

.logo_image {
  background-image: url("../img/logo_goldenrod.svg");
  max-width: 120px;
  min-width: 120px;
  min-height: 120px;
  max-height: 120px;
  -webkit-transition: 0.1s;
  -o-transition: 0.1s;
  transition: 0.1s;
  margin-top: 10px;
  margin-bottom: 10px;
}

.logo_image:hover {
  background-image: url("../img/logo.svg");
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.hello_text_wrapper {
  font-size: 36px;
  text-align: center;
  font-family: "Russo One";
  font-weight: bolder;
  color: goldenrod;
  line-height: 45px;
}

.greetings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: lightcyan;
  -ms-flex-line-pack: center;
      align-content: center;
  margin-top: 30px;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.greetings_speech {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 18px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-left: 10px;
}

.dir_img_wrapper {
  -webkit-transform: scale(0.95);
      -ms-transform: scale(0.95);
          transform: scale(0.95);
}

.container {
  max-width: 1180px;
  margin: 0 auto;
}

.container_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main_link {
  -ms-flex-item-align: stretch;
      align-self: stretch;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.main_link_wrapper {
  -ms-flex-item-align: stretch;
      align-self: stretch;
  height: 50px;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: goldenrod;
  border-radius: 2px;
  text-align: center;
  font-family: "Russo One";
  color: lightgoldenrodyellow;
}

.main_link_wrapper:hover {
  color: goldenrod;
  background-color: seashell;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.content_nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.link_wrapper {
  height: 200px;
  width: 200px;
  margin-top: 30px;
  background-color: greenyellow;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  color: black;
  font-weight: bold;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  border-radius: 2px;
}

.link_wrapper:hover {
  background-color: rgba(29, 67, 30, 0.33);
  color: white;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  -webkit-box-align: space-around;
      -ms-flex-align: space-around;
          align-items: space-around;
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.link_wrapper:hover .main_link_name {
  background-color: rgba(29, 67, 30, 0.66);
}

.link_wrapper:hover .hover_description {
  visibility: visible;
  opacity: 1;
}

.main_link_name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(255, 255, 255, 0.8);
  height: 30px;
}

.hover_description {
  text-align: center;
  background-color: rgba(29, 67, 30, 0.66);
  visibility: hidden;
  opacity: 0;
  -webkit-transition: visibility 0s, opacity 0.5s linear;
  -o-transition: visibility 0s, opacity 0.5s linear;
  transition: visibility 0s, opacity 0.5s linear;
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
}

.link_1 {
  background: url("..//img/history.jpg");
  background-size: cover;
}

.link_2 {
  background: url("..//img/structure.png") no-repeat;
  background-size: cover;
}

.link_3 {
  background: url("..//img/technology.jpg") no-repeat;
  background-size: cover;
}

.link_4 {
  background: url("..//img/equipment.jpg") no-repeat;
  background-size: cover;
}

.link_5 {
  background: url("..//img/works.jpg") no-repeat;
  background-size: cover;
}

.link_6 {
  background: url("..//img/scint_works.jpg") no-repeat;
  background-size: cover;
}

.footer_flex_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
}

iframe {
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
  min-height: 450px;
  margin-top: 30px;
}

address {
  margin-top: 30px;
  text-decoration: none;
  font-style: normal;
  font-size: 16px;
  font-family: "Russo One";
}

address a {
  color: #da7720;
}

address a:hover {
  color: #975316;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

address a:active {
  color: burlywood;
}

.end {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 15px;
  font-family: "Russo One";
}

.some_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 16px;
  background-color: lightcyan;
  padding: 20px;
  margin-top: 30px;
  text-indent: 50px;
}

.some_content .history_content {
  display: none;
}

.some_content .history_content:target {
  display: block;
}

.some_content .structure_content {
  display: none;
}

.some_content .structure_content:target {
  display: block;
}

.some_content .technology_content {
  display: none;
}

.some_content .technology_content:target {
  display: block;
}

.some_content .equipmet_content {
  display: none;
}

.some_content .equipmet_content:target {
  display: block;
}

.some_content .scients_results_content {
  display: none;
}

.some_content .scients_results_content:target {
  display: block;
}

.some_content .scients_works_content {
  display: none;
}

.some_content .scients_works_content:target {
  display: block;
}

.some_content .some_content_block {
  padding: 10px;
}

.some_content .back_to_nav_link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.some_content .back_to_nav_link .back_to_nav {
  width: 150px;
  height: 30px;
  background-color: goldenrod;
  -webkit-transition: 0.1s;
  -o-transition: 0.1s;
  transition: 0.1s;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.some_content .back_to_nav_link .back_to_nav:hover {
  background-color: khaki;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
